# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build directories
/build
/dist

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Output of npm pack
*.tgz

# MacOS files
.DS_Store

# IDE settings
.vscode/
.idea/
*.sublime-workspace

# Other files to ignore
.cache/
coverage/
.next/
.nuxt/
