/* HospitalForm Component */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input, textarea {
    margin-bottom: 15px;
  }
  
  button {
    background-color: #2b2d42;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1f2a38;
  }
  